@import "bulma.min.css";

* {
    margin: 0;
}
  
html,
body {
    height: 100%;
    background-color: #333366;    
    margin-right: auto;
    margin-left: auto;
}
  
body, .navbar {
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 1em;
    color: #FFFFFF;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    padding: 10px;
}

h1 {
    font-size: 2em !important;
}

h2 {
    font-size: 1.5em !important;
}

@media screen and (min-width: 1024px) {
    .navbar {
        background-color: unset !important;
    } 
    body {
        width: 800px;
        /*Push this change*/
    }   
}

@media screen and (max-width: 1023px) {
    .footer-menu {
        display: none;
    }
    body {
        width: 100%;
    }
    nav a:visited,
    nav a:link {
        color: #888;
        text-decoration: none;
    }
}
  
nav a:visited,
nav a:link {
    color: #CCCCCC;
    text-decoration: none;
}
  
nav > ul {
    display: inline;
    padding: 0;
}
  
nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

main {
    display: block;    
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer {
    padding: 15px;
}

a{
    color: #CCCCCC;
}

.newsletter-form{
    border:2px solid #000000;    
    margin-left:auto;
    margin-right:auto;
}
